body{
    margin-top: 1.1%;
    margin-left: 1.1%;
    margin-right: 1.1%;
    background: linear-gradient(to right, #6FB3B8, #BADFE7);
}
main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 185%;
}
main a{
    text-decoration: none;
}
main a:hover{
    color:#9AEBA3;
}
header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, rgb(16, 16, 129), rgb(27, 27, 170));
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    z-index: 0;
}
.logo img{ 
    width: 60%; 
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 0.5%;
}
.title{
    padding-top: 1.5%;
    color: #13678A;
    font-size: 350%;
}
.principal{
    
    display: inline-block;
    margin-left: 10%;
   
}
.link{
    margin-bottom: 1%;
}
.rodape{
    color: black;
    font-size: 70%;
    text-align: center;
    padding: 1%;
    
}
.navegacao{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    position: relative;
    left: 74%;
    font-size: 200%;
    z-index: 1;
    position: absolute;
    top: 14%;
    padding: 3%;
}

.navegacao a{ 
    float: right; 
    color: rgb(140, 151, 144);;
    text-decoration:none; 

}
.navegacao a:hover{
    color:#9AEBA3;
}

.home{
    position: relative;
    right: 8%;
}



